/* FAQ Section */
.faq {
  padding: 2rem 0; /* 'auto' doesn't work on padding */
  color: white;
  width: 100%;
  display: flex;
  border-bottom: 2rem solid white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Section Title */
.h2 {
  font-size: 1.2em;
  width: 70%;
  padding: 1rem;
  text-align: center;
  margin: 2rem auto;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(255, 254, 254);
  background: linear-gradient(145deg, blue, white);
}

/* FAQ Item Box */
.faq-item {
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 12px;
  width: 90%;
  box-shadow: 3px 3px 10px #f7f6f6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.faq-item:hover {
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.5);
  transform: scale(1.03);
}

.faq-item h3 {
  font-size: 1em;
  margin-bottom: 0.7rem;
  text-decoration: underline;
  text-align: left;
  color: black;
}

.faq-item p {
  font-size: 0.9rem;
  line-height: 1.6;
  text-align: left;
  color: black;
  margin-top: 0.9rem;
}

/* Responsive Fix */
@media (min-width: 768px) {
  .faq {
    .h2 h2 {
      font-size: 2.5em;
    }
    .faq-item {
      width: 70%;

      h3 {
        font-size: 1.7em;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}
