/* Default Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black !important;
}
/* Reveal sections on load */
body.loaded #home,
body.loaded #about,
body.loaded #faq,
body.loaded #contact,
body.loaded .faq-item {
  opacity: 1;
  transform: translateY(0);
}
